.text-primary {
  color: #1e7012!important;
}

.text-primary.m-0.font-weight-bold {
  color: #1e7012;
}


@font-face {
  font-family: 'fontello';
  src: url('estilos/fontello/font/fontello.eot?56890650');
  src: url('estilos/fontello/font/fontello.eot?56890650#iefix') format('embedded-opentype'),
       url('estilos/fontello/font/fontello.woff2?56890650') format('woff2'),
       url('estilos/fontello/font/fontello.woff?56890650') format('woff'),
       url('estilos/fontello/font/fontello.ttf?56890650') format('truetype'),
       url('estilos/fontello/font/fontello.svg?56890650#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
