
.icon-catalogos:before { content: '\e800'; } /* '' */
.icon-colonias:before { content: '\e801'; } /* '' */
.icon-reloj_save:before { content: '\e802'; } /* '' */
.icon-herramientas:before { content: '\e803'; } /* '' */
.icon-informes:before { content: '\e804'; } /* '' */
.icon-inicio:before { content: '\e805'; } /* '' */
.icon-manuales:before { content: '\e806'; } /* '' */
.icon-programas-1:before { content: '\e807'; } /* '' */
.icon-programas_gob:before { content: '\e808'; } /* '' */
.icon-reportes:before { content: '\e809'; } /* '' */
.icon-email_send:before { content: '\e80a'; } /* '' */
.icon-salir:before { content: '\e80b'; } /* '' */
.icon-tableros:before { content: '\e80c'; } /* '' */
.icon-usuarios:before { content: '\e80d'; } /* '' */
.icon-estructuras:before { content: '\e80e'; } /* '' */
.icon-descarga:before { content: '\e80f'; } /* '' */
.icon-editar:before { content: '\e810'; } /* '' */
.icon-glass:before { content: '\e811'; } /* '' */
.icon-music:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\e813'; } /* '' */
.icon-users:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-videocam:before { content: '\e816'; } /* '' */
.icon-video:before { content: '\e817'; } /* '' */
.icon-picture:before { content: '\e818'; } /* '' */
.icon-camera:before { content: '\e819'; } /* '' */
.icon-camera-alt:before { content: '\e81a'; } /* '' */
.icon-ok-circled:before { content: '\e81b'; } /* '' */
.icon-ok:before { content: '\e81c'; } /* '' */
.icon-th:before { content: '\e81d'; } /* '' */
.icon-th-large:before { content: '\e81e'; } /* '' */
.icon-th-list:before { content: '\e81f'; } /* '' */
.icon-pin:before { content: '\e820'; } /* '' */
.icon-tag:before { content: '\e821'; } /* '' */
.icon-plus-circled:before { content: '\e822'; } /* '' */
.icon-plus:before { content: '\e823'; } /* '' */
.icon-cancel-circled2:before { content: '\e824'; } /* '' */
.icon-cancel-circled:before { content: '\e825'; } /* '' */
.icon-ok-circled2:before { content: '\e826'; } /* '' */
.icon-help-circled:before { content: '\e827'; } /* '' */
.icon-info-circled:before { content: '\e828'; } /* '' */
.icon-minus-circled:before { content: '\e829'; } /* '' */
.icon-tags:before { content: '\e82a'; } /* '' */
.icon-bookmark:before { content: '\e82b'; } /* '' */
.icon-flag:before { content: '\e82c'; } /* '' */
.icon-download:before { content: '\e82d'; } /* '' */
.icon-upload:before { content: '\e82e'; } /* '' */
.icon-forward:before { content: '\e82f'; } /* '' */
.icon-chat:before { content: '\e830'; } /* '' */
.icon-print:before { content: '\e831'; } /* '' */
.icon-edit:before { content: '\e832'; } /* '' */
.icon-pencil:before { content: '\e833'; } /* '' */
.icon-attention:before { content: '\e834'; } /* '' */
.icon-attention-circled:before { content: '\e835'; } /* '' */
.icon-location:before { content: '\e836'; } /* '' */
.icon-doc:before { content: '\e837'; } /* '' */
.icon-folder:before { content: '\e838'; } /* '' */
.icon-folder-open:before { content: '\e839'; } /* '' */
.icon-phone:before { content: '\e83a'; } /* '' */
.icon-cog:before { content: '\e83b'; } /* '' */
.icon-cog-alt:before { content: '\e83c'; } /* '' */
.icon-calendar:before { content: '\e83d'; } /* '' */
.icon-align-left:before { content: '\e83e'; } /* '' */
.icon-align-center:before { content: '\e83f'; } /* '' */
.icon-align-right:before { content: '\e840'; } /* '' */
.icon-align-justify:before { content: '\e841'; } /* '' */
.icon-list:before { content: '\e842'; } /* '' */
.icon-indent-right:before { content: '\e843'; } /* '' */
.icon-tint:before { content: '\e844'; } /* '' */
.icon-book:before { content: '\e845'; } /* '' */
.icon-search:before { content: '\e846'; } /* '' */
.icon-search-circled:before { content: '\e847'; } /* '' */
.icon-search-1:before { content: '\e848'; } /* '' */
.icon-mail:before { content: '\e849'; } /* '' */
.icon-heart:before { content: '\e84a'; } /* '' */
.icon-heart-empty:before { content: '\e84b'; } /* '' */
.icon-star:before { content: '\e84c'; } /* '' */
.icon-star-empty:before { content: '\e84d'; } /* '' */
.icon-star-half:before { content: '\e84e'; } /* '' */
.icon-minus:before { content: '\e84f'; } /* '' */
.icon-home:before { content: '\e850'; } /* '' */
.icon-link:before { content: '\e851'; } /* '' */
.icon-attach:before { content: '\e852'; } /* '' */
.icon-lock:before { content: '\e853'; } /* '' */
.icon-lock-open:before { content: '\e854'; } /* '' */
.icon-eye:before { content: '\e855'; } /* '' */
.icon-eye-off:before { content: '\e856'; } /* '' */
.icon-thumbs-up:before { content: '\e857'; } /* '' */
.icon-thumbs-down:before { content: '\e858'; } /* '' */
.icon-export:before { content: '\e859'; } /* '' */
.icon-retweet:before { content: '\e85a'; } /* '' */
.icon-comment:before { content: '\e85b'; } /* '' */
.icon-bell:before { content: '\e85c'; } /* '' */
.icon-basket:before { content: '\e85d'; } /* '' */
.icon-wrench:before { content: '\e85e'; } /* '' */
.icon-login:before { content: '\e85f'; } /* '' */
.icon-logout:before { content: '\e860'; } /* '' */
.icon-volume-off:before { content: '\e861'; } /* '' */
.icon-volume-down:before { content: '\e862'; } /* '' */
.icon-volume-up:before { content: '\e863'; } /* '' */
.icon-headphones:before { content: '\e864'; } /* '' */
.icon-clock:before { content: '\e865'; } /* '' */
.icon-block:before { content: '\e866'; } /* '' */
.icon-resize-full:before { content: '\e867'; } /* '' */
.icon-resize-small:before { content: '\e868'; } /* '' */
.icon-resize-vertical:before { content: '\e869'; } /* '' */
.icon-resize-horizontal:before { content: '\e86a'; } /* '' */
.icon-zoom-in:before { content: '\e86b'; } /* '' */
.icon-zoom-out:before { content: '\e86c'; } /* '' */
.icon-up-open:before { content: '\e86d'; } /* '' */
.icon-right-open:before { content: '\e86e'; } /* '' */
.icon-left-open:before { content: '\e86f'; } /* '' */
.icon-down-open:before { content: '\e870'; } /* '' */
.icon-right-dir:before { content: '\e871'; } /* '' */
.icon-left-dir:before { content: '\e872'; } /* '' */
.icon-up-dir:before { content: '\e873'; } /* '' */
.icon-down-dir:before { content: '\e874'; } /* '' */
.icon-up-circled2:before { content: '\e875'; } /* '' */
.icon-down-circled2:before { content: '\e876'; } /* '' */
.icon-down-big:before { content: '\e877'; } /* '' */
.icon-left-big:before { content: '\e878'; } /* '' */
.icon-right-big:before { content: '\e879'; } /* '' */
.icon-up-big:before { content: '\e87a'; } /* '' */
.icon-right-hand:before { content: '\e87b'; } /* '' */
.icon-left-hand:before { content: '\e87c'; } /* '' */
.icon-up-hand:before { content: '\e87d'; } /* '' */
.icon-down-hand:before { content: '\e87e'; } /* '' */
.icon-to-start:before { content: '\e87f'; } /* '' */
.icon-to-end-alt:before { content: '\e880'; } /* '' */
.icon-to-end:before { content: '\e881'; } /* '' */
.icon-pause:before { content: '\e882'; } /* '' */
.icon-stop:before { content: '\e883'; } /* '' */
.icon-play-circled2:before { content: '\e884'; } /* '' */
.icon-play:before { content: '\e885'; } /* '' */
.icon-shuffle:before { content: '\e886'; } /* '' */
.icon-arrows-cw:before { content: '\e887'; } /* '' */
.icon-ccw:before { content: '\e888'; } /* '' */
.icon-cw:before { content: '\e889'; } /* '' */
.icon-eject:before { content: '\e88a'; } /* '' */
.icon-target:before { content: '\e88b'; } /* '' */
.icon-signal:before { content: '\e88c'; } /* '' */
.icon-award:before { content: '\e88d'; } /* '' */
.icon-inbox:before { content: '\e88e'; } /* '' */
.icon-globe:before { content: '\e88f'; } /* '' */
.icon-cloud:before { content: '\e890'; } /* '' */
.icon-flash:before { content: '\e891'; } /* '' */
.icon-umbrella:before { content: '\e892'; } /* '' */
.icon-flight:before { content: '\e893'; } /* '' */
.icon-indent-left:before { content: '\e894'; } /* '' */
.icon-text-width:before { content: '\e895'; } /* '' */
.icon-text-height:before { content: '\e896'; } /* '' */
.icon-italic:before { content: '\e897'; } /* '' */
.icon-bold:before { content: '\e898'; } /* '' */
.icon-font:before { content: '\e899'; } /* '' */
.icon-leaf:before { content: '\e89a'; } /* '' */
.icon-scissors:before { content: '\e89b'; } /* '' */
.icon-briefcase:before { content: '\e89c'; } /* '' */
.icon-off:before { content: '\e89d'; } /* '' */
.icon-road:before { content: '\e89e'; } /* '' */
.icon-list-alt:before { content: '\e89f'; } /* '' */
.icon-qrcode:before { content: '\e8a0'; } /* '' */
.icon-barcode:before { content: '\e8a1'; } /* '' */
.icon-fast-bw:before { content: '\e8a2'; } /* '' */
.icon-fast-fw:before { content: '\e8a3'; } /* '' */
.icon-to-start-alt:before { content: '\e8a4'; } /* '' */
.icon-spin5:before { content: '\e8a5'; } /* '' */
.icon-spin6:before { content: '\e8a6'; } /* '' */
.icon-spin4:before { content: '\e8a7'; } /* '' */
.icon-spin3:before { content: '\e8a8'; } /* '' */
.icon-spin2:before { content: '\e8a9'; } /* '' */
.icon-spin1:before { content: '\e8aa'; } /* '' */
.icon-adjust:before { content: '\e8ab'; } /* '' */
.icon-check:before { content: '\e8ac'; } /* '' */
.icon-asterisk:before { content: '\e8ad'; } /* '' */
.icon-gift:before { content: '\e8ae'; } /* '' */
.icon-fire:before { content: '\e8af'; } /* '' */
.icon-magnet:before { content: '\e8b0'; } /* '' */
.icon-chart-bar:before { content: '\e8b1'; } /* '' */
.icon-truck:before { content: '\e8b2'; } /* '' */
.icon-key:before { content: '\e8b3'; } /* '' */
.icon-megaphone:before { content: '\e8b4'; } /* '' */
.icon-floppy:before { content: '\e8b5'; } /* '' */
.icon-credit-card:before { content: '\e8b6'; } /* '' */
.icon-hammer:before { content: '\e8b7'; } /* '' */
.icon-picture-1:before { content: '\e8b8'; } /* '' */
.icon-camera-1:before { content: '\e8b9'; } /* '' */
.icon-layout:before { content: '\e8ba'; } /* '' */
.icon-menu-1:before { content: '\e8bb'; } /* '' */
.icon-resize-full-1:before { content: '\e8bc'; } /* '' */
.icon-resize-small-1:before { content: '\e8bd'; } /* '' */
.icon-tools:before { content: '\e8be'; } /* '' */
.icon-cog-1:before { content: '\e8bf'; } /* '' */
.icon-flag-1:before { content: '\e8c0'; } /* '' */
.icon-search-outline:before { content: '\e8c1'; } /* '' */
.icon-search-2:before { content: '\e8c2'; } /* '' */
.icon-music-1:before { content: '\e8c3'; } /* '' */
.icon-eq-outline:before { content: '\e8c4'; } /* '' */
.icon-minus-outline:before { content: '\e8c5'; } /* '' */
.icon-minus-1:before { content: '\e8c6'; } /* '' */
.icon-divide:before { content: '\e8c7'; } /* '' */
.icon-divide-outline:before { content: '\e8c8'; } /* '' */
.icon-eq:before { content: '\e8c9'; } /* '' */
.icon-info-outline:before { content: '\e8ca'; } /* '' */
.icon-info-1:before { content: '\e8cb'; } /* '' */
.icon-home-outline:before { content: '\e8cc'; } /* '' */
.icon-home-1:before { content: '\e8cd'; } /* '' */
.icon-th-large-outline:before { content: '\e8ce'; } /* '' */
.icon-camera-outline:before { content: '\e8cf'; } /* '' */
.icon-picture-2:before { content: '\e8d0'; } /* '' */
.icon-picture-outline:before { content: '\e8d1'; } /* '' */
.icon-video-1:before { content: '\e8d2'; } /* '' */
.icon-videocam-outline:before { content: '\e8d3'; } /* '' */
.icon-videocam-1:before { content: '\e8d4'; } /* '' */
.icon-attach-1:before { content: '\e8d5'; } /* '' */
.icon-lock-open-filled:before { content: '\e8d6'; } /* '' */
.icon-lock-open-1:before { content: '\e8d7'; } /* '' */
.icon-pin-outline:before { content: '\e8d8'; } /* '' */
.icon-pin-1:before { content: '\e8d9'; } /* '' */
.icon-code-outline:before { content: '\e8da'; } /* '' */
.icon-location-1:before { content: '\e8db'; } /* '' */
.icon-map-1:before { content: '\e8dc'; } /* '' */
.icon-direction-outline:before { content: '\e8dd'; } /* '' */
.icon-direction-1:before { content: '\e8de'; } /* '' */
.icon-export-outline:before { content: '\e8df'; } /* '' */
.icon-export-1:before { content: '\e8e0'; } /* '' */
.icon-print-1:before { content: '\e8e1'; } /* '' */
.icon-download-1:before { content: '\e8e2'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e8e3'; } /* '' */
.icon-upload-cloud-1:before { content: '\e8e4'; } /* '' */
.icon-vcard:before { content: '\e8e5'; } /* '' */
.icon-address:before { content: '\e8e6'; } /* '' */
.icon-location-outline:before { content: '\e8e7'; } /* '' */
.icon-warning-empty:before { content: '\e8e8'; } /* '' */
.icon-attention-filled:before { content: '\e8e9'; } /* '' */
.icon-attention-1:before { content: '\e8ea'; } /* '' */
.icon-bell-1:before { content: '\e8eb'; } /* '' */
.icon-chat-alt:before { content: '\e8ec'; } /* '' */
.icon-chat-1:before { content: '\e8ed'; } /* '' */
.icon-comment-1:before { content: '\e8ee'; } /* '' */
.icon-feather:before { content: '\e8ef'; } /* '' */
.icon-pen:before { content: '\e8f0'; } /* '' */
.icon-pencil-1:before { content: '\e8f1'; } /* '' */
.icon-edit-1:before { content: '\e8f2'; } /* '' */
.icon-compass-1:before { content: '\e8f3'; } /* '' */
.icon-trash:before { content: '\e8f4'; } /* '' */
.icon-doc-1:before { content: '\e8f5'; } /* '' */
.icon-doc-text-1:before { content: '\e8f6'; } /* '' */
.icon-doc-add:before { content: '\e8f7'; } /* '' */
.icon-doc-remove:before { content: '\e8f8'; } /* '' */
.icon-news:before { content: '\e8f9'; } /* '' */
.icon-folder-1:before { content: '\e8fa'; } /* '' */
.icon-folder-add:before { content: '\e8fb'; } /* '' */
.icon-folder-delete:before { content: '\e8fc'; } /* '' */
.icon-archive:before { content: '\e8fd'; } /* '' */
.icon-box-1:before { content: '\e8fe'; } /* '' */
.icon-phone-outline:before { content: '\e8ff'; } /* '' */
.icon-phone-1:before { content: '\e900'; } /* '' */
.icon-stopwatch:before { content: '\e901'; } /* '' */
.icon-wristwatch:before { content: '\e902'; } /* '' */
.icon-clock-1:before { content: '\e903'; } /* '' */
.icon-volume-high:before { content: '\e904'; } /* '' */
.icon-mic-1:before { content: '\e905'; } /* '' */
.icon-mic-outline:before { content: '\e906'; } /* '' */
.icon-calendar-1:before { content: '\e907'; } /* '' */
.icon-calendar-outlilne:before { content: '\e908'; } /* '' */
.icon-wrench-1:before { content: '\e909'; } /* '' */
.icon-cog-2:before { content: '\e90a'; } /* '' */
.icon-cog-outline:before { content: '\e90b'; } /* '' */
.icon-menu-outline:before { content: '\e90c'; } /* '' */
.icon-resize-full-outline:before { content: '\e90d'; } /* '' */
.icon-resize-full-2:before { content: '\e90e'; } /* '' */
.icon-resize-normal-outline:before { content: '\e90f'; } /* '' */
.icon-resize-normal:before { content: '\e910'; } /* '' */
.icon-move-outline:before { content: '\e911'; } /* '' */
.icon-move-1:before { content: '\e912'; } /* '' */
.icon-popup:before { content: '\e913'; } /* '' */
.icon-zoom-in-outline:before { content: '\e914'; } /* '' */
.icon-zoom-in-1:before { content: '\e915'; } /* '' */
.icon-left-open-outline:before { content: '\e916'; } /* '' */
.icon-left-open-1:before { content: '\e917'; } /* '' */
.icon-right-open-1:before { content: '\e918'; } /* '' */
.icon-down-1:before { content: '\e919'; } /* '' */
.icon-right-open-outline:before { content: '\e91a'; } /* '' */
.icon-left-1:before { content: '\e91b'; } /* '' */
.icon-right-1:before { content: '\e91c'; } /* '' */
.icon-up-1:before { content: '\e91d'; } /* '' */
.icon-down-outline:before { content: '\e91e'; } /* '' */
.icon-left-outline:before { content: '\e91f'; } /* '' */
.icon-right-outline:before { content: '\e920'; } /* '' */
.icon-up-outline:before { content: '\e921'; } /* '' */
.icon-menu-2:before { content: '\e922'; } /* '' */
.icon-flash-1:before { content: '\e923'; } /* '' */
.icon-moon-1:before { content: '\e924'; } /* '' */
.icon-flash-outline:before { content: '\e925'; } /* '' */
.icon-sun-filled:before { content: '\e926'; } /* '' */
.icon-globe-alt:before { content: '\e927'; } /* '' */
.icon-globe-alt-outline:before { content: '\e928'; } /* '' */
.icon-globe-1:before { content: '\e929'; } /* '' */
.icon-globe-outline:before { content: '\e92a'; } /* '' */
.icon-contrast:before { content: '\e92b'; } /* '' */
.icon-mobile-1:before { content: '\e92c'; } /* '' */
.icon-tablet-1:before { content: '\e92d'; } /* '' */
.icon-laptop-1:before { content: '\e92e'; } /* '' */
.icon-desktop-1:before { content: '\e92f'; } /* '' */
.icon-wifi-1:before { content: '\e930'; } /* '' */
.icon-wifi-outline:before { content: '\e931'; } /* '' */
.icon-target-1:before { content: '\e932'; } /* '' */
.icon-target-outline:before { content: '\e933'; } /* '' */
.icon-waves-outline:before { content: '\e934'; } /* '' */
.icon-waves:before { content: '\e935'; } /* '' */
.icon-eliminar:before { content: '\e936'; } /* '' */
.icon-reuniones:before { content: '\e937'; } /* '' */
.icon-salvar:before { content: '\e938'; } /* '' */
.icon-ver:before { content: '\e939'; } /* '' */
.icon-igualdad_derechos_v2:before { content: '\e93a'; } /* '' */
.icon-ciencia_v2:before { content: '\e93b'; } /* '' */
.icon-seguridad_v2:before { content: '\e93c'; } /* '' */
.icon-cultura_v2:before { content: '\e93d'; } /* '' */
.icon-movilidad_v2:before { content: '\e93e'; } /* '' */
.icon-ciudad_sustentable_v2:before { content: '\e93f'; } /* '' */
.icon-basura:before { content: '\e940'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-subscript:before { content: '\f12c'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-tty:before { content: '\f1e4'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-mercury:before { content: '\f223'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-transgender-alt:before { content: '\f225'; } /* '' */
.icon-venus-double:before { content: '\f226'; } /* '' */
.icon-mars-double:before { content: '\f227'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-mars-stroke:before { content: '\f229'; } /* '' */
.icon-mars-stroke-v:before { content: '\f22a'; } /* '' */
.icon-mars-stroke-h:before { content: '\f22b'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-hand-grab-o:before { content: '\f255'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-hand-scissors-o:before { content: '\f257'; } /* '' */
.icon-hand-lizard-o:before { content: '\f258'; } /* '' */
.icon-hand-spock-o:before { content: '\f259'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-500px:before { content: '\f26e'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */